In [169]:
#importing all the required libraries
import pandas as pd
import selenium
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from time import sleep
import warnings
warnings.filterwarnings('ignore')
import time
import string

In [123]:
#intialising driver
driver=webdriver.Chrome(r"C:\Users\verma\Desktop\Selenium\chromedriver.exe")

Q.no 1. Scrape the details of most viewed videos on YouTube from Wikipedia:

Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/
You need to find following details:

A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [124]:
# creating empty lists for scraping data
Rank=[]
Name=[]
Artist=[]
Upload_Date=[]
Views=[]

In [125]:
#getting the required URL
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/")

In [126]:
time.sleep(3)

In [127]:
insert=driver.find_element_by_xpath("//td[@class='mbox-text']/span[@class='plainlinks']/a[@class='external text']/i").click()

In [128]:
time.sleep(3)

In [129]:
insert1=driver.find_element_by_xpath("//li[1]/div[@class='mw-search-result-heading']/a").click()

In [130]:
#scraping the rank
rank=driver.find_elements_by_xpath("//tbody/tr/td[1]")
for i in rank[:30]:
    Rank.append(i.text)
    
time.sleep(5)

#scraping the name
name=driver.find_elements_by_xpath("//tbody/tr/td[2]")
for i in name[:30]:
    Name.append(i.text)
    
time.sleep(5)

#scraping the artist
artist=driver.find_elements_by_xpath("//tbody/tr/td[3]")
for i in artist[:30]:
    Artist.append(i.text)
    
time.sleep(5)

#scraping upload date
upload=driver.find_elements_by_xpath("//tbody/tr/td[5]")
for i in upload[:30]:
    Upload_Date.append(i.text)
    
time.sleep(5)

#scraping views
views=driver.find_elements_by_xpath("//tbody/tr/td[4]")
for i in views[:30]:
    Views.append(i.text)

In [131]:
#checking the length of each list
print(len(Rank))
print(len(Name))
print(len(Artist))
print(len(Upload_Date))
print(len(Views))

30
30
30
30
30

In [132]:
#creating a dataframe
df=pd.DataFrame({'Rank':Rank,'Name':Name,'Artist':Artist,'Upload Date':Upload_Date,'Views':Views})

df

,Rank,Name,Artist,Upload Date,Views
0,1.,"""Baby Shark Dance""[28]",Pinkfong Kids' Songs & Stories,"June 17, 2016",7.39
1,2.,"""Despacito""[30]",Luis Fonsi featuring Daddy Yankee,"January 12, 2017",7.09
2,3.,"""Shape of You""[31]",Ed Sheeran,"January 30, 2017",5.10
3,4.,"""See You Again""[32]",Wiz Khalifa featuring Charlie Puth,"April 6, 2015",4.85
4,5.,"""Masha and the Bear – Recipe for Disaster""[35]",Get Movies,"January 31, 2012",4.38
5,6.,"""Johny Johny Yes Papa""[36]",LooLoo Kids,"October 8, 2016",4.37
6,7.,"""Uptown Funk""[37]",Mark Ronson featuring Bruno Mars,"November 19, 2014",4.03
7,8.,"""Gangnam Style""[38]",Psy,"July 15, 2012",3.88
8,9.,"""Learning Colors – Colorful Eggs on a Farm""[40]",Miroshka TV,"February 27, 2018",3.66
9,10.,"""Sorry""[41]",Justin Bieber,"October 22, 2015",3.37
10,11.,"""Bath Song""[42]",Cocomelon – Nursery Rhymes,"May 2, 2018",3.34
11,12.,"""Sugar""[43]",Maroon 5,"January 14, 2015",3.34
12,13.,"""Phonics Song with Two Words""[44]",ChuChu TV,"March 6, 2014",3.30
13,14.,"""Roar""[45]",Katy Perry,"September 5, 2013",3.22
14,15.,"""Thinking Out Loud""[46]",Ed Sheeran,"October 7, 2014",3.13
15,16.,"""Counting Stars""[47]",OneRepublic,"May 31, 2013",3.13
16,17.,"""Shake It Off""[48]",Taylor Swift,"August 18, 2014",2.99
17,18.,"""Dame Tu Cosita""[49]",El Chombo featuring Cutty Ranks,"April 5, 2018",2.94
18,19.,"""Bailando""[50]",Enrique Iglesias featuring Descemer Bueno and ...,"April 11, 2014",2.94
19,20.,"""Lean On""[51]",Major Lazer and DJ Snake featuring MØ,"March 22, 2015",2.93
20,21.,"""Faded""[52]",Alan Walker,"December 3, 2015",2.92
21,22.,"""Dark Horse""[53]",Katy Perry featuring Juicy J,"February 20, 2014",2.92
22,23.,"""Girls Like You""[54]",Maroon 5 featuring Cardi B,"May 31, 2018",2.91
23,24.,"""Let Her Go""[55]",Passenger,"July 25, 2012",2.85
24,25.,"""Mi Gente""[56]",J Balvin and Willy William,"June 29, 2017",2.82
25,26.,"""Hello""[57]",Adele,"October 22, 2015",2.75
26,27.,"""Blank Space""[58]",Taylor Swift,"November 10, 2014",2.68
27,28.,"""Waka Waka (This Time for Africa)""[59]",Shakira featuring Freshlyground,"June 4, 2010",2.66
28,29.,"""Perfect""[60]",Ed Sheeran,"November 9, 2017",2.65
29,30.,"""Chantaje""[61]",Shakira featuring Maluma,"November 18, 2016",2.60

Q2. Scrape the details team India’s international fixtures from bcci.tv.

Url = https://www.bcci.tv/.

You need to find following details:

A) Match title (I.e. 1

st ODI)

B) Series

C) Place

D) Date

E) Time

In [146]:
#intialising driver
driver=webdriver.Chrome(r"C:\Users\verma\Desktop\Selenium\chromedriver.exe")

In [147]:
# creating empty lists for scraping data
Match_title=[]
Series=[]
Place=[]
Date=[]
Month=[]
Time=[]

In [148]:
#getting the required Url
driver.get("https://www.bcci.tv/")

In [150]:
insert = driver.find_element_by_xpath("//li[1]//div[@class='navigation__drop-down drop-down drop-down--reveal-on-hover']")
insert.click()

In [151]:
insert1 = driver.find_element_by_xpath("//li[1]/div[@class='navigation__drop-down drop-down drop-down--reveal-on-hover']/div[1]/ul[1]/li[1]/a[@href='/international/fixtures']")
insert1.click()

In [152]:
#scraping match title
match = driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/strong")
for i in match:
    Match_title.append(i.text)
    

#scraping series
series = driver.find_elements_by_xpath("//span[@class='u-unskewed-text fixture__tournament-label u-truncated']")
for i in series:
    Series.append(i.text)
    

#scraping place
place = driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/span")
for i in place:
    Place.append(i.text)
    

#scraping date
date = driver.find_elements_by_xpath("//div[@class='fixture__full-date']/span")
for i in date:
    Date.append(i.text)
    

#scraping month
month = driver.find_elements_by_xpath("//div[@class='fixture__date-details']/span[1]")
for i in month:
    Month.append(i.text)
    

#scraping time
time = driver.find_elements_by_xpath("//div[@class='fixture__date-details']/span[2]")
for i in time:
    Time.append(i.text)

In [153]:
#checking the length of each list
print(len(Match_title))
print(len(Series))
print(len(Place))
print(len(Date))
print(len(Month))
print(len(Time))

10
10
10
10
10
10

In [154]:
#creating a dataframe
df1=pd.DataFrame({'Match Title':Match_title,'Series':Series,'Place':Place,'Date':Date,'Month':Month,'Time':Time})

df1

,Match Title,Series,Place,Date,Month,Time
0,3rd T20I,AUSTRALIA V INDIA 2020/21,"Sydney Cricket Ground, Sydney",08,DECEMBER,13:40 IST
1,1st Test,AUSTRALIA V INDIA 2020/21,"Adelaide Oval, Adelaide",17,DECEMBER,09:30 IST
2,2nd Test,AUSTRALIA V INDIA 2020/21,"Melbourne Cricket Ground, Melbourne",26,DECEMBER,05:00 IST
3,3rd Test,AUSTRALIA V INDIA 2020/21,"Sydney Cricket Ground, Sydney",07,JANUARY,05:00 IST
4,4th Test,AUSTRALIA V INDIA 2020/21,"Brisbane Cricket Ground, Brisbane",15,JANUARY,05:30 IST
5,1st Test,ENGLAND V INDIA 2021,"Trent Bridge, Nottingham",04,AUGUST,15:30 IST
6,2nd Test,ENGLAND V INDIA 2021,"Lord's, London",12,AUGUST,15:30 IST
7,3rd Test,ENGLAND V INDIA 2021,"Headingley, Leeds",25,AUGUST,15:30 IST
8,4th Test,ENGLAND V INDIA 2021,"The Oval, London",02,SEPTEMBER,15:30 IST
9,5th Test,ENGLAND V INDIA 2021,"Old Trafford, Manchester",10,SEPTEMBER,15:30 IST

Q3.Scrape the details of selenium exception from guru99.com.

Url = https://www.guru99.com/

You need to find following details:

A) Name

B) Description

In [30]:
#intialising driver
driver=webdriver.Chrome(r"C:\Users\verma\Desktop\Selenium\chromedriver.exe")

In [31]:
# creating empty lists for scraping data
Name=[]
Description=[]

In [32]:
#getting the required Url
driver.get("https://www.guru99.com/")

In [33]:
time.sleep(3)

In [34]:
insert4 = driver.find_element_by_xpath("//ul[@class='menu']/li[3]/a[@title='Selenium']").click()

In [35]:
insert5 = driver.find_element_by_xpath("//td[@class='responsivetable']/a[@title='Selenium Exception Handling (Common Exceptions List)']/strong")
insert5.click()

In [36]:
insert6=driver.find_element_by_xpath("//button[@class='CloseButton__ButtonElement-sc-79mh24-0 gVNUOF aurora-CloseButton aurora-close aurora-ClosePosition--top-right']").click()

In [37]:
#scraping name
name= driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[1]")
for i in name:
    Name.append(i.text)

In [38]:
Name

['Exception name',
 'ElementNotVisibleException',
 'ElementNotSelectableException',
 'NoSuchElementException',
 'NoSuchFrameException',
 'NoAlertPresentException',
 'NoSuchWindowException',
 'StaleElementReferenceException',
 'SessionNotFoundException',
 'TimeoutException',
 'WebDriverException',
 'ConnectionClosedException',
 'ElementClickInterceptedException',
 'ElementNotInteractableException',
 'ErrorInResponseException',
 'ErrorHandler.UnknownServerException',
 'ImeActivationFailedException',
 'ImeNotAvailableException',
 'InsecureCertificateException',
 'InvalidArgumentException',
 'InvalidCookieDomainException',
 'InvalidCoordinatesException',
 'InvalidElementStateExceptio',
 'InvalidSessionIdException',
 'InvalidSwitchToTargetException',
 'JavascriptException',
 'JsonException',
 'NoSuchAttributeException',
 'MoveTargetOutOfBoundsException',
 'NoSuchContextException',
 'NoSuchCookieException',
 'NotFoundException',
 'RemoteDriverServerException',
 'ScreenshotException',
 'SessionNotCreatedException',
 'UnableToSetCookieException',
 'UnexpectedTagNameException',
 'UnhandledAlertException',
 'UnexpectedAlertPresentException',
 'UnknownMethodException',
 'UnreachableBrowserException',
 'UnsupportedCommandException']

In [45]:
#creating a dataframe
Name1 = pd.DataFrame(Name)
Name2= Name1.rename(columns = { 0:' Name'})
Name2

                                   Name
0                        Exception name
1            ElementNotVisibleException
2         ElementNotSelectableException
3                NoSuchElementException
4                  NoSuchFrameException
5               NoAlertPresentException
6                 NoSuchWindowException
7        StaleElementReferenceException
8              SessionNotFoundException
9                      TimeoutException
10                   WebDriverException
11            ConnectionClosedException
12     ElementClickInterceptedException
13      ElementNotInteractableException
14             ErrorInResponseException
15  ErrorHandler.UnknownServerException
16         ImeActivationFailedException
17             ImeNotAvailableException
18         InsecureCertificateException
19             InvalidArgumentException
20         InvalidCookieDomainException
21          InvalidCoordinatesException
22          InvalidElementStateExceptio
23            InvalidSessionIdException
24       InvalidSwitchToTargetException
25                  JavascriptException
26                        JsonException
27             NoSuchAttributeException
28       MoveTargetOutOfBoundsException
29               NoSuchContextException
30                NoSuchCookieException
31                    NotFoundException
32          RemoteDriverServerException
33                  ScreenshotException
34           SessionNotCreatedException
35           UnableToSetCookieException
36           UnexpectedTagNameException
37              UnhandledAlertException
38      UnexpectedAlertPresentException
39               UnknownMethodException
40          UnreachableBrowserException
41          UnsupportedCommandException

In [46]:

Name3 =Name2.iloc[1:42]
Name3

                                   Name
1            ElementNotVisibleException
2         ElementNotSelectableException
3                NoSuchElementException
4                  NoSuchFrameException
5               NoAlertPresentException
6                 NoSuchWindowException
7        StaleElementReferenceException
8              SessionNotFoundException
9                      TimeoutException
10                   WebDriverException
11            ConnectionClosedException
12     ElementClickInterceptedException
13      ElementNotInteractableException
14             ErrorInResponseException
15  ErrorHandler.UnknownServerException
16         ImeActivationFailedException
17             ImeNotAvailableException
18         InsecureCertificateException
19             InvalidArgumentException
20         InvalidCookieDomainException
21          InvalidCoordinatesException
22          InvalidElementStateExceptio
23            InvalidSessionIdException
24       InvalidSwitchToTargetException
25                  JavascriptException
26                        JsonException
27             NoSuchAttributeException
28       MoveTargetOutOfBoundsException
29               NoSuchContextException
30                NoSuchCookieException
31                    NotFoundException
32          RemoteDriverServerException
33                  ScreenshotException
34           SessionNotCreatedException
35           UnableToSetCookieException
36           UnexpectedTagNameException
37              UnhandledAlertException
38      UnexpectedAlertPresentException
39               UnknownMethodException
40          UnreachableBrowserException
41          UnsupportedCommandException

In [39]:
#scraping description
description = driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[2]")
for i in description:
    Description.append(i.text)

In [40]:
Description

['Description',
 'This type of Selenium exception occurs when an existing element in DOM has a feature set as hidden.',
 'This Selenium exception occurs when an element is presented in the DOM, but you can be able to select. Therefore, it is not possible to interact.',
 'This Exception occurs if an element could not be found.',
 'This Exception occurs if the frame target to be switched to does not exist.',
 'This Exception occurs when you switch to no presented alert.',
 'This Exception occurs if the window target to be switch does not exist.',
 'This Selenium exception occurs happens when the web element is detached from the current DOM.',
 'The WebDriver is acting after you quit the browser.',
 "Thrown when there is not enough time for a command to be completed. For Example, the element searched wasn't found in the specified time.",
 'This Exception takes place when the WebDriver is acting right after you close the browser.',
 'This type of Exception takes place when there is a disconnection in the driver.',
 'The command may not be completed as the element receiving the events is concealing the element which was requested clicked.',
 'This Selenium exception is thrown when any element is presented in the DOM. However, it is impossible to interact with such an element.',
 'This happens while interacting with the Firefox extension or the remote driver server.',
 'Exception is used as a placeholder in case if the server returns an error without a stack trace.',
 'This expectation will occur when IME engine activation has failed.',
 'It takes place when IME support is unavailable.',
 'Navigation made the user agent to hit a certificate warning. This can cause by an invalid or expired TLS certificate.',
 'It occurs when an argument does not belong to the expected type.',
 'This happens when you try to add a cookie under a different domain instead of current URL.',
 'This type of Exception matches an interacting operation that is not valid.',
 "It occurs when command can't be finished when the element is invalid.",
 'This Exception took place when the given session ID is not included in the list of active sessions. It means the session does not exist or is inactive either.',
 'This occurs when the frame or window target to be switched does not exist.',
 'This issue occurs while executing JavaScript given by the user.',
 'It occurs when you afford to get the session when the session is not created.',
 'This kind of Exception occurs when the attribute of an element could not be found.',
 'It takes place if the target provided to the ActionChains move() methodology is not valid. For Example, out of the document.',
 'ContextAware does mobile device testing.',
 'This Exception occurs when no cookie matching with the given pathname found for all the associated cookies of the currently browsing document.',
 'This Exception is a subclass of WebDriverException. This will occur when an element on the DOM does not exist.',
 'This Selenium exception is thrown when the server is not responding because of the problem that the capabilities described are not proper.',
 'It is not possible to capture a screen.',
 'It happens when a new session could not be successfully created.',
 'This occurs if a driver is unable to set a cookie.',
 'Happens if a support class did not get a web element as expected.',
 'This expectation occurs when there is an alert, but WebDriver is not able to perform Alert operation.',
 'It occurs when there is the appearance of an unexpected alert.',
 'This Exception happens when the requested command matches with a known URL but and not matching with a methodology for a specific URL.',
 'This Exception occurs only when the browser is not able to be opened or crashed because of some reason.',
 "This occurs when remote WebDriver does n't send valid commands as expected."]

In [42]:
#creating a dataframe
Description1 = pd.DataFrame(Description)
Description2= Description1.rename(columns = { 0:'Description'})
Description2

                                          Description
0                                         Description
1   This type of Selenium exception occurs when an...
2   This Selenium exception occurs when an element...
3   This Exception occurs if an element could not ...
4   This Exception occurs if the frame target to b...
5   This Exception occurs when you switch to no pr...
6   This Exception occurs if the window target to ...
7   This Selenium exception occurs happens when th...
8   The WebDriver is acting after you quit the bro...
9   Thrown when there is not enough time for a com...
10  This Exception takes place when the WebDriver ...
11  This type of Exception takes place when there ...
12  The command may not be completed as the elemen...
13  This Selenium exception is thrown when any ele...
14  This happens while interacting with the Firefo...
15  Exception is used as a placeholder in case if ...
16  This expectation will occur when IME engine ac...
17    It takes place when IME support is unavailable.
18  Navigation made the user agent to hit a certif...
19  It occurs when an argument does not belong to ...
20  This happens when you try to add a cookie unde...
21  This type of Exception matches an interacting ...
22  It occurs when command can't be finished when ...
23  This Exception took place when the given sessi...
24  This occurs when the frame or window target to...
25  This issue occurs while executing JavaScript g...
26  It occurs when you afford to get the session w...
27  This kind of Exception occurs when the attribu...
28  It takes place if the target provided to the A...
29           ContextAware does mobile device testing.
30  This Exception occurs when no cookie matching ...
31  This Exception is a subclass of WebDriverExcep...
32  This Selenium exception is thrown when the ser...
33            It is not possible to capture a screen.
34  It happens when a new session could not be suc...
35  This occurs if a driver is unable to set a coo...
36  Happens if a support class did not get a web e...
37  This expectation occurs when there is an alert...
38  It occurs when there is the appearance of an u...
39  This Exception happens when the requested comm...
40  This Exception occurs only when the browser is...
41  This occurs when remote WebDriver does n't sen...

In [43]:
Description3 = Description2.iloc[1:42]
Description3

                                          Description
1   This type of Selenium exception occurs when an...
2   This Selenium exception occurs when an element...
3   This Exception occurs if an element could not ...
4   This Exception occurs if the frame target to b...
5   This Exception occurs when you switch to no pr...
6   This Exception occurs if the window target to ...
7   This Selenium exception occurs happens when th...
8   The WebDriver is acting after you quit the bro...
9   Thrown when there is not enough time for a com...
10  This Exception takes place when the WebDriver ...
11  This type of Exception takes place when there ...
12  The command may not be completed as the elemen...
13  This Selenium exception is thrown when any ele...
14  This happens while interacting with the Firefo...
15  Exception is used as a placeholder in case if ...
16  This expectation will occur when IME engine ac...
17    It takes place when IME support is unavailable.
18  Navigation made the user agent to hit a certif...
19  It occurs when an argument does not belong to ...
20  This happens when you try to add a cookie unde...
21  This type of Exception matches an interacting ...
22  It occurs when command can't be finished when ...
23  This Exception took place when the given sessi...
24  This occurs when the frame or window target to...
25  This issue occurs while executing JavaScript g...
26  It occurs when you afford to get the session w...
27  This kind of Exception occurs when the attribu...
28  It takes place if the target provided to the A...
29           ContextAware does mobile device testing.
30  This Exception occurs when no cookie matching ...
31  This Exception is a subclass of WebDriverExcep...
32  This Selenium exception is thrown when the ser...
33            It is not possible to capture a screen.
34  It happens when a new session could not be suc...
35  This occurs if a driver is unable to set a coo...
36  Happens if a support class did not get a web e...
37  This expectation occurs when there is an alert...
38  It occurs when there is the appearance of an u...
39  This Exception happens when the requested comm...
40  This Exception occurs only when the browser is...
41  This occurs when remote WebDriver does n't sen...

In [47]:

Selenium_Exception = pd.concat([Name3,Description3 ] , axis=1)
Selenium_Exception

,Name,Description
1,ElementNotVisibleException,This type of Selenium exception occurs when an...
2,ElementNotSelectableException,This Selenium exception occurs when an element...
3,NoSuchElementException,This Exception occurs if an element could not ...
4,NoSuchFrameException,This Exception occurs if the frame target to b...
5,NoAlertPresentException,This Exception occurs when you switch to no pr...
6,NoSuchWindowException,This Exception occurs if the window target to ...
7,StaleElementReferenceException,This Selenium exception occurs happens when th...
8,SessionNotFoundException,The WebDriver is acting after you quit the bro...
9,TimeoutException,Thrown when there is not enough time for a com...
10,WebDriverException,This Exception takes place when the WebDriver ...
11,ConnectionClosedException,This type of Exception takes place when there ...
12,ElementClickInterceptedException,The command may not be completed as the elemen...
13,ElementNotInteractableException,This Selenium exception is thrown when any ele...
14,ErrorInResponseException,This happens while interacting with the Firefo...
15,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
16,ImeActivationFailedException,This expectation will occur when IME engine ac...
17,ImeNotAvailableException,It takes place when IME support is unavailable.
18,InsecureCertificateException,Navigation made the user agent to hit a certif...
19,InvalidArgumentException,It occurs when an argument does not belong to ...
20,InvalidCookieDomainException,This happens when you try to add a cookie unde...
21,InvalidCoordinatesException,This type of Exception matches an interacting ...
22,InvalidElementStateExceptio,It occurs when command can't be finished when ...
23,InvalidSessionIdException,This Exception took place when the given sessi...
24,InvalidSwitchToTargetException,This occurs when the frame or window target to...
25,JavascriptException,This issue occurs while executing JavaScript g...
26,JsonException,It occurs when you afford to get the session w...
27,NoSuchAttributeException,This kind of Exception occurs when the attribu...
28,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
29,NoSuchContextException,ContextAware does mobile device testing.
30,NoSuchCookieException,This Exception occurs when no cookie matching ...
31,NotFoundException,This Exception is a subclass of WebDriverExcep...
32,RemoteDriverServerException,This Selenium exception is thrown when the ser...
33,ScreenshotException,It is not possible to capture a screen.
34,SessionNotCreatedException,It happens when a new session could not be suc...
35,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
36,UnexpectedTagNameException,Happens if a support class did not get a web e...
37,UnhandledAlertException,This expectation occurs when there is an alert...
38,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
39,UnknownMethodException,This Exception happens when the requested comm...
40,UnreachableBrowserException,This Exception occurs only when the browser is...
41,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

Q4.Scrape the details of State-wise GDP of India from statisticstime.com.

Url = http://statisticstimes.com/

You have to find following details:

A) Rank

B) State

C) GSDP(18-19)

D) GSDP(17-18)

E) Share(2017)

F) GDP($ billion)

In [48]:
#intialising driver
driver=webdriver.Chrome(r"C:\Users\verma\Desktop\Selenium\chromedriver.exe")

In [49]:
# creating empty lists for scraping data
Rank=[]
State=[]
GSDP_18=[]
GSDP_17=[]
Share=[]
GDP_Billion=[]

In [50]:
#getting the required Url
driver.get("http://statisticstimes.com/")

In [51]:
time.sleep(5)

In [52]:
insert = driver.find_element_by_xpath("//div/div/div[2]/button")
insert.click()

In [53]:
time.sleep(5)

In [54]:
insert1=driver.find_element_by_xpath("//div[@class='navbar']/div[2]/div/a[2]")
insert1.click()

In [55]:
time.sleep(5)

In [56]:
insert2 = driver.find_element_by_xpath("//ul[@style='list-style-type:none;margin-left:20px;']/li/a")
insert2.click()

In [57]:
time.sleep(3)

In [58]:
#scraping rank
rank=driver.find_elements_by_xpath("//tr/td[@class='data1']")
for i in rank[:33]:
    Rank.append(i.text)

time.sleep(3)

#scraping state
state=driver.find_elements_by_xpath("//tr/td[@class='name']")
for j in state[:33]:
    State.append(j.text)
    
time.sleep(3)

#scraping GSDP (18-19)
gsdp18=driver.find_elements_by_xpath("//tr/td[3][@class='data']")
for j in gsdp18[:33]:
    GSDP_18.append(j.text)
    
time.sleep(3)

#scraping GSDP (17-18)
gsdp17=driver.find_elements_by_xpath("//tr/td[@class='data sorting_1']")
for j in gsdp17[:33]:
    GSDP_17.append(j.text)
    
time.sleep(3)

#scraping share
share=driver.find_elements_by_xpath("//tr/td[5][@class='data']")
for j in share[:33]:
    Share.append(j.text)
    
time.sleep(3)

#scraping GDP in billion$
billion=driver.find_elements_by_xpath("//tr/td[6][@class='data']")
for j in billion[:33]:
    GDP_Billion.append(j.text)

In [59]:
#checking the length of each list
print(len(Rank))
print(len(State))
print(len(GSDP_18))
print(len(GSDP_17))
print(len(GDP_Billion))

33
33
33
33
33

In [60]:
#creating a dataframe
df4=pd.DataFrame({'Rank':Rank,'State':State,'GSDP18-19':GSDP_18,'GSDP17-18':GSDP_17,'Share 2017':Share,'GDP $ billion':GDP_Billion})

df4

,Rank,State,GSDP18-19,GSDP17-18,Share 2017,GDP $ billion
0,1,Maharashtra,-,"2,411,600",14.11%,374.196
1,2,Tamil Nadu,"1,664,159","1,461,841",8.55%,226.827
2,3,Uttar Pradesh,"1,542,432","1,376,324",8.05%,213.558
3,4,Karnataka,"1,535,224","1,350,257",7.90%,209.513
4,5,Gujarat,-,"1,314,680",7.69%,203.993
5,6,West Bengal,"1,177,586","999,585",5.85%,155.101
6,7,Rajasthan,"929,124","835,558",4.89%,129.650
7,8,Andhra Pradesh,"933,402","809,547",4.74%,125.614
8,9,Telangana,"865,688","753,811",4.41%,116.965
9,10,Madhya Pradesh,"809,327","728,242",4.26%,112.998
10,11,Kerala,-,"700,532",4.10%,108.698
11,12,Delhi,"779,652","690,098",4.04%,107.079
12,13,Haryana,"707,126","626,054",3.66%,97.142
13,14,Bihar,"557,490","484,740",2.84%,75.215
14,15,Punjab,"521,861","479,141",2.80%,74.346
15,16,Odisha,"485,376","436,374",2.55%,67.710
16,17,Assam,-,"288,494",1.69%,44.764
17,18,Chhattisgarh,"311,660","284,194",1.66%,44.097
18,19,Jharkhand,"307,581","276,243",1.62%,42.863
19,20,Uttarakhand,"245,895","222,836",1.30%,34.576
20,21,Himachal Pradesh,"153,181","140,613",0.82%,21.818
21,22,Jammu & Kashmir,-,"138,488",0.81%,21.489
22,23,Goa,"77,172","70,493",0.41%,10.938
23,24,Tripura,-,"46,133",0.27%,7.158
24,25,Chandigarh,-,"38,806",0.23%,6.021
25,26,Puducherry,"36,656","32,962",0.19%,5.115
26,27,Meghalaya,-,"30,790",0.18%,4.778
27,28,Nagaland,-,"24,281",0.14%,3.768
28,29,Manipur,-,"23,968",0.14%,3.719
29,30,Sikkim,"26,786","23,495",0.14%,3.646
30,31,Arunachal Pradesh,-,"22,045",0.13%,3.421
31,32,Mizoram,-,"19,457",0.11%,3.019
32,33,Andaman & Nicobar Islands,-,"7,871",0.05%,1.221

Q6.Scrape the details of top 100 songs on billiboard.com.

Url = https://www.billiboard.com/

You have to find the following details:

A) Song name

B) Artist name

C) Last week rank

D) Peak rank

E) Weeks on board

In [99]:
#intialising driver
driver=webdriver.Chrome(r"C:\Users\verma\Desktop\Selenium\chromedriver.exe")

In [100]:
#getting the required Url
driver.get("https://www.billboard.com/")

In [101]:
# creating empty lists for scraping data
song_name = []
artist_name  = []
last_week_rank  = []
peak_rank  = []
weeks_on_board = []

In [102]:
time.sleep(5)

In [103]:
insert = driver.find_element_by_xpath("//header[@class='header header--desktop padding-x--sm flex--space-between-center bg--dark']/div[@class='header__main-menu__wrapper flex--grow']/ul/li[1]/a").click()

In [104]:
time.sleep(5)

In [105]:
insert1=driver.find_element_by_id("pmc_toupp_notice_close_btn").click()

In [106]:
insert2 = driver.find_element_by_xpath("//div[@class='charts-landing__info charts-landing__info--hot-100']/div")
insert2.click()

In [107]:
time.sleep(4)

In [108]:
#scraping name
name = driver.find_elements_by_xpath("//span[@class='chart-element__information']/span[1]")
for i in name:
    song_name.append(i.text)
    
time.sleep(3)

#scraping artist name
artist = driver.find_elements_by_xpath("//span[@class='chart-element__information']/span[2]")
for i in artist:
    artist_name.append(i.text)
    
time.sleep(3)

#scraping last week rank
week = driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--last']")
for i in week:
    last_week_rank.append(i.text)
    
time.sleep(3)

#scraping peak rank
peak = driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--peak']")
for i in peak:
    peak_rank.append(i.text)
    
time.sleep(3)

#scraping weeks on board
week = driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week']")
for i in week:
    weeks_on_board.append(i.text)

In [111]:
#checking the length of each list
print(len(song_name))
print(len(artist_name))
print(len(last_week_rank))
print(len(peak_rank))
print(len(weeks_on_board))

100
100
100
100
100

In [113]:
#creating a dataframe
df5=pd.DataFrame({'Song Name':song_name,'Artist Name':artist_name,'Last Week Rank':last_week_rank,'Peak Rank':peak_rank,'Weeks On Board':weeks_on_board})

df5

,Song Name,Artist Name,Last Week Rank,Peak Rank,Weeks On Board
0,Life Goes On,BTS,-,1,1
1,Mood,24kGoldn Featuring iann dior,1,1,16
2,Dynamite,BTS,14,1,14
3,Positions,Ariana Grande,3,1,5
4,I Hope,Gabby Barrett Featuring Charlie Puth,4,3,48
...,...,...,...,...,...
95,Popstar,DJ Khaled Featuring Drake,83,3,19
96,Bichota,Karol G,-,97,1
97,Happy Does,Kenny Chesney,90,85,6
98,Cover Me Up,Morgan Wallen,-,99,1
99,So Done,The Kid LAROI,75,59,5

Q7.Scrape the details of Data science recruiters from naukri.com.

Url = https://www.naukri.com/

You have to find the following details:

A) Name

B) Designation

C) Company

D) Skills they hire for

E) Location

In [165]:
#intialising driver
driver=webdriver.Chrome(r"C:\Users\verma\Desktop\Selenium\chromedriver.exe")

In [166]:
driver.get("https://www.naukri.com/")

In [167]:
# creating empty lists for scraping data
name  = []
designation  = []
company  = []
skills   = []
location = []

In [170]:
#closing unnecessary pop windows by using window handler and applying filter in the Url
time.sleep(5)
driver.switch_to_window(driver.window_handles[1])
driver.close()
time.sleep(5)
driver.switch_to_window(driver.window_handles[1])
driver.close()
driver.switch_to_window(driver.window_handles[0])
time.sleep(10)
Task1 = driver.find_element_by_xpath("//div[@class='privacyPolicy']/div//button")
Task1.click()
time.sleep(10)
Task2 = driver.find_element_by_xpath("//div[@class='userPrompt animate']//span[1]")
Task2.click()
time.sleep(10)
Task3 = driver.find_element_by_xpath("//ul[@class='midSec menu']/li[2]/a/div")
Task3.click()
time.sleep(5)
driver.switch_to_window(driver.window_handles[1])
time.sleep(5)
Task4 = driver.find_element_by_xpath("//div[@class='sWrap lftBrd']/div[2]/input")
Task4.send_keys('Data Science')
time.sleep(10)
Task5 = driver.find_element_by_xpath("//button[@class='fl qsbSrch blueBtn']")
Task5.click()
time.sleep(5)

In [171]:
#scraping name
Name = driver.find_elements_by_xpath("//p[@class='highlightable']//span[@class='fl ellipsis']")
for i in Name:
    name.append(i.text)
    
time.sleep(3)  

#scraping designation
Designation = driver.find_elements_by_xpath("//p[@class='highlightable']//span[@class='ellipsis clr']")
for i in Designation:
    designation.append(i.text)
    
time.sleep(3)  

#scraping company name
Company = driver.find_elements_by_xpath("//p[@class='highlightable']/a[2]")
for i in Company:
    company.append(i.text)

time.sleep(3)  

#scraping skills required
Skills= driver.find_elements_by_xpath("//div[@class='recInfo']//div[@class='hireSec highlightable']")
for i in Skills:
    skills.append(i.text)

In [172]:
## scraping location, for scraping location we have to go in each of the location separately
urls=[i.get_attribute("href")for i in driver.find_elements_by_xpath("//div[@class='vcard']/p/a[1]")]#getting the url
for url in urls[0:50]:
    time.sleep(5)
    try:            #exception handling for nosuchelementexception
        
        driver.get(url)
        Location=driver.find_element_by_xpath("//div[@class='rFrame fl infoWrapper']/div[5]/a").text
        
        location.append(Location)#appending location in location list
    except NoSuchElementException :
        location.append(" ")#appending no location if no such location is there

In [173]:
#checking the length of each list
print(len(name))
print(len(designation))
print(len(company))
print(len(skills))
print(len(location))

50
50
50
50
50

In [174]:
#creating a dataframe
df7=pd.DataFrame({'Name':name,'Designation':designation,'Company':company,'Skills':skills,'Location':location})

df7

,Name,Designation,Company,Skills,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,Talent Acquisition Executive,Recruitment Professional,XenonStack,"Web Designing, html5, Angular.js, seo, hadoop,...",Chandigarh
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
5,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
6,Jitendra Singh,Manager- Talent Acquisition,Compunnel Technology India Pvt. Ltd,"Python, Data Science, .Net, Java, Big Data, Da...",Delhi
7,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
8,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
9,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
10,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
11,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
12,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
13,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
14,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
15,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
16,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
17,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
18,Rakhi,Recruitment Consultant,Walkingtext Private Limited,"Ites, Data Science, Cloud, Iot",Bengaluru / Bangalore
19,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
20,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
21,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
22,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
23,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
24,Pooja Seth,IT Technical Recruiter,RAPS iTech,"B.tech, Hr Mba, quality assurance engineering,...",Chandigarh
25,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
26,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
27,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
28,Srikanth Bellup,Director,TeachR Robotics Pvt. Ltd,"mechatronics, robotics, Home Automation, iot, ...",Hyderabad / Secunderabad
29,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
30,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Others
31,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Delhi
32,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Mysoru / Mysore
33,Prateek Kumar,Head,Trisect,"Java, Python, Angularjs, Software Testing, Mac...",Noida
34,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy...",Hyderabad / Secunderabad
35,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",New Delhi
36,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Chennai
37,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Aligarh
38,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Salt Lake City
39,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Pune
40,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Bengaluru / Bangalore
41,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Mumbai
42,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Indore
43,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",Bengaluru / Bangalore
44,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",MYSORE
45,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Hyderabad / Secunderabad
46,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Bengaluru / Bangalore
47,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Mumbai
48,Amir Chowdhury,Managing Partner,Granular.ai,"Machine Learning, Data Science, Product Manage...",
49,Shailja Mishra,HR Manager,Certybox Pvt.Ltd.,"consulting, Education Counseling, Educational ...",Noida

Q8.Scrape the details of Highest selling novels.

Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/

You have to find the following details:

A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [159]:
#intialising driver
driver=webdriver.Chrome(r"C:\Users\verma\Desktop\Selenium\chromedriver.exe")

In [160]:
#getting the required url
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [161]:
# creating empty lists for scraping data
book_name = []
author_name  = []
volumes_sold  = []
publisher  = []
genre  = []

In [162]:
#scraping book name
book = driver.find_elements_by_xpath("//tbody/tr/td[2]")
for i in book:
    book_name.append(i.text)

#scraping author name
author = driver.find_elements_by_xpath("//tbody/tr/td[3]")
for i in author:
    author_name.append(i.text)

#scraping volumes sold
volume = driver.find_elements_by_xpath("//tbody/tr/td[4]")
for i in volume:
    volumes_sold.append(i.text)

#scraping publisher 
publish = driver.find_elements_by_xpath("//tbody/tr/td[5]")
for i in publish:
    publisher.append(i.text)

#scraping genre
Genre = driver.find_elements_by_xpath("//tbody/tr/td[6]")
for i in Genre:
    genre.append(i.text)

In [163]:
#checking the length of each list
print(len(book_name))
print(len(author_name))
print(len(volumes_sold))
print(len(publisher))
print(len(genre))

100
100
100
100
100

In [164]:
#creating a dataframe
df8=pd.DataFrame({'Book Name':book_name,'AUthor Name':author_name,'Volumes Sold':volumes_sold,'Publisher':publisher,'Genre':genre})

df8

,Book Name,AUthor Name,Volumes Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

Q9. Scrape the details most watched tv series of all time from imdb.com.

Url = https://www.imdb.com/list/ls095964455/

You have to find the following details:

A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [181]:
#intialising driver
driver=webdriver.Chrome(r"C:\Users\verma\Desktop\Selenium\chromedriver.exe")

In [182]:
#getting the required url
driver.get("https://www.imdb.com/list/ls095964455/")

In [183]:
# creating empty lists for scraping data
name=[]
year=[]
genre=[]
runtime=[]
ratings=[]
votes=[]

In [184]:
#scraping name
Name=driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a")
for i in Name:
    name.append(i.text)
    
#scraping year
Year=driver.find_elements_by_xpath("//span[@class='lister-item-year text-muted unbold']")
for i in Year:
    year.append(i.text)

#scraping genre
Genre=driver.find_elements_by_xpath("//p[@class='text-muted text-small']/span[5]")
for i in Genre:
    genre.append(i.text)

#scraping runtime
rt=driver.find_elements_by_xpath("//p[@class='text-muted text-small']/span[3]")
for i in rt:
    runtime.append(i.text)

#scraping ratings
Rating=driver.find_elements_by_xpath("//div[@class='ipl-rating-widget']/div/span[2]")
for i in Rating:
    ratings.append(i.text)

#scraping votes
Votes=driver.find_elements_by_xpath("//p[4][@class='text-muted text-small']/span[2]")
for i in Votes:
    votes.append(i.text)

In [185]:
#checking the length of each list
print(len(name))
print(len(year))
print(len(genre))
print(len(runtime))
print(len(ratings))
print(len(votes))

100
100
100
100
100
100

In [186]:
#creating a dataframe
df9=pd.DataFrame({'Name':name,'Year':year,'Genre':genre,'Run Time':runtime,'Ratings':ratings,'Votes':votes})

df9

,Name,Year,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.3,"1,735,249"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.8,"794,340"
2,The Walking Dead,(2010– ),"Drama, Horror, Thriller",44 min,8.2,"841,590"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"251,959"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"210,993"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"42,862"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"53,011"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"157,194"
98,Scream: The TV Series,(2015– ),"Crime, Drama, Horror",45 min,7.2,"33,626"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"175,686"

Q10. Details of Datasets from UCI machine learning repositories.

 Url = https://archive.ics.uci.edu/
 
 You have to find the following details:
 
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year

In [175]:
#intialising driver
driver=webdriver.Chrome(r"C:\Users\verma\Desktop\Selenium\chromedriver.exe")

In [176]:
#getting the required url
driver.get("https://archive.ics.uci.edu/")

In [177]:
# creating empty lists for scraping data
dataset_name = []
data_type  = []
task  = []
attribute_type  = []
no_of_instances  = []
no_of_attribute  = []
year = []

In [178]:
insert1 = driver.find_element_by_xpath("//b/a[@href='datasets.php']")
insert1.click()

In [179]:
urls=[i.get_attribute("href")for i in driver.find_elements_by_xpath("//p[@class='normal']/b/a")]
for url in urls[:559]:
    time.sleep(5)
    try:         #exception handling for nosuchelementexception
        
        driver.get(url)
        raw_description=driver.find_element_by_xpath("//span[@class='heading']/b").text
        des=raw_description.replace("Data Set","")
        dataset_name.append(des)   #appending dataset name in dataset name list
    except NoSuchElementException :
        dataset_name.append(" ") #appending the no dataset name if no name is given
        
    try:    #exception handling for nosuchelementexception
        
        driver.get(url)
        raw_description=driver.find_element_by_xpath("//tbody/tr[1]/td[2]/p[@class='normal']").text      
        data_type.append(raw_description)#appending datatype in datatype list
    except NoSuchElementException :
        data_type.append(" ")#appending no dataset type if no type is provided

    try:    #exception handling for nosuchelementexception
        
        driver.get(url)
        raw_description=driver.find_element_by_xpath("//tbody/tr[3]/td[2]/p[@class='normal']").text      
        task.append(raw_description)#appending task in task list
    except NoSuchElementException :
        task.append(" ")#appending no task if no task is given

    try:   #exception handling for nosuchelementexception
        
        driver.get(url)
        raw_description=driver.find_element_by_xpath("//tbody/tr[2]/td[2]/p[@class='normal']").text      
        attribute_type.append(raw_description)#appending attribute type in attribute type list
    except NoSuchElementException :
        attribute_type.append(" ")#appending no attribute type if no type is given
    try:   #exception handling for nosuchelementexception
        
        driver.get(url)
        raw_description=driver.find_element_by_xpath("//tbody/tr[1]/td[4]/p[@class='normal']").text      
        no_of_instances.append(raw_description)#appending no of instances
    except NoSuchElementException :
        no_of_instances.append(" ")#appending no No of instanced is no instances is given

    try:   #exception handling for nosuchelementexception
        
        driver.get(url)
        raw_description=driver.find_element_by_xpath("//tbody/tr[2]/td[4]/p[@class='normal']").text      
        no_of_attribute.append(raw_description)#appending  no of attribute
    except NoSuchElementException :
        no_of_attribute.append(" ")#appending no No of attribute if data is not give

    try:   #exception handling for nosuchelementexception
        
        driver.get(url)
        raw_description=driver.find_element_by_xpath("//tbody/tr[2]/td[6]/p[@class='normal']").text 
        des=raw_description[0:4]
        year.append(raw_description)#appending year
    except NoSuchElementException :
        year.append(" ")#appending no year if no year is given

In [180]:
#creating a dataframe
df10=pd.DataFrame({"Dataset Name":dataset_name,"Data Type":data_type,"Task":task,"Attribute Type":attribute_type,"No of instances":no_of_instances,
                "No of attribute":no_of_attribute , "Year" : year})

df10

,Dataset Name,Data Type,Task,Attribute Type,No of instances,No of attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,N/A
3,Anonymous Microsoft Web Data,N/A,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
554,IIWA14-R820-Gazebo-Dataset-10Trajectories,N/A,Regression,Integer,N/A,N/A,2020
555,Guitar Chords finger positions,Text,Classification,N/A,2633,5,2020
556,Russian Corpus of Biographical Texts,Text,Classification,N/A,200,2,2020
557,Codon usage,Multivariate,"Classification, Clustering",N/A,13028,69,2020
558,Intelligent Media Accelerometer and Gyroscope ...,Time-Series,Classification,Real,800,9,2020